<section data-ng-controller="PersonController" data-ng-init="findOne()">
    <div class='card' itemscope itemtype="http://schema.org/Person">
        <div class='card_left'>
            <div ng-show="person.image_url != null">
                <img src="{{person.image_url}}" itemprop="image" />
            </div>
        </div>
        <div class='card_right'>
            <h1 itemprop="name">{{person.name}}</h1>
            <div class='card_right__details'>
                <ul>
                    <li ng-show="person.birth_date">
                        <strong>Birth date: &nbsp; </strong><span itemprop="birthDate">{{person.birth_date | date}}</span>
                    </li>
                    <li ng-show="person.death_date">
                        <strong>Death date: </strong><span itemprop="deathDate">{{person.death_date | date}}</span>
                    </li>
                    <div>
                        <strong>Top Movie(s)</strong>
                        <ul>
                            <li ng-repeat="movie in person.movies">
                                <a href="/#!/movie/{{movie.item_id}}">{{movie.title}}</a>
                            </li>
                        </ul>
                    </div>
                </ul>
                <div class="card_right__visualize" ng-show="person.tmdb_id" style="margin-top: 10px">
                        <a href="/#!/person/{{person.item_id}}/visualize">Visualize movie/actor relations</a>
                </div>
                <div class='card_right__review'>
                    <p itemprop="description">{{person.biography}}</p>
                    <div class='card_right__comment'>
                        <a href="/#!/person/{{person.item_id}}/comment/create" data-ng-show="global.authenticated">Add a comment!</a>
                        <a href="/#!/person/{{person.item_id}}/comment/list">Show comments</a>
                    </div>
                </div>
                <div class='card_right__button'>
                    <a ng-href='http://www.bing.com/search?q={{person.name}}' target='_blank'>See results from Bing Search</a>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>
    <script type="text/javascript" src="../../lib/d3/d3.js"></script>
    <script type="text/javascript" src="../../lib/webcola/cola.js"></script>
    <script type="text/javascript" src="../../js/tmdb.js"/>
    <script type="text/javascript" src="../../js/map.js"/>
</section>
