<section data-ng-controller="PersonController" data-ng-init="visualize()">
    <div class="container">
        <h1>Visualizing <a href="/#!/person/{{person.item_id}}">{{person.name}}</a></h1>
        <div id="map"></div>
        <span>Credit to: <a href="http://marvl.infotech.monash.edu/webcola/examples/browsemovies.html">http://marvl.infotech.monash.edu/webcola/examples/browsemovies.html</a> for
        the original version of the code.</span>
        <script type="text/javascript" src="../../lib/d3/d3.js"></script>
        <script type="text/javascript" src="../../lib/webcola/cola.js"></script>
        <script type="text/javascript" src="../../js/tmdb.js"/>
        <script type="text/javascript" src="../../js/map.js"/>
    </div>
</section>
